<!-- <body style="margin: 1rem;">
  <div style="margin: 1rem;">
    <button type="button" style="float: right;" class="btn btn-primary ">Add Product</button>
  </div>

  <br>
  <br>
  <div style="margin: 1rem;">
    <ag-grid-angular style="width: auto; height: 450px;" class="ag-theme-alpine"
      [rowData]="rowData" [columnDefs]="columnDefs">
    </ag-grid-angular>
  </div>

</body> -->

<!-- {{ products | json }} -->
<div style="margin: 1rem;">
</div>
<div class="container">
   <h2 class="text-center"> Welcome to ANN Ecommerce,
    <div class="text-muted">{{ user | uppercase }}</div></h2>

    <br><br>
    <br>
    <div class="d-flex align-items-center">
      <div class="cl"></div>
      <form class="w-100 me-3">
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">

      </form>
    <div>
</div>

